<!--
 / tweetbook plugin
 / adding facebook and twitter buttons in login page.
 /
 -->
<%  def get_login_url
			client = OAuth2::Client.new( $tweetbook_settings['office365']['key'],
                                  $tweetbook_settings['office365']['secret'],
                                  :site => 'https://login.microsoftonline.com',
                                  :authorize_url => '/common/oauth2/v2.0/authorize',
                                  :token_url => '/common/oauth2/v2.0/token')

      client.auth_code.authorize_url(:redirect_uri => authorize_url, :scope => $office_scope.join(' '))
		end %>
<script type="text/javascript">
$(document).ready(function(){

/*
 *  login page
 */
<%  twitter_keys_present = !$tweetbook_settings['twitter']['key'].blank? && !$tweetbook_settings['twitter']['secret'].blank? ? true : false

   facebook_keys_present = !$tweetbook_settings['facebook']['key'].blank? && !$tweetbook_settings['facebook']['secret'].blank? ? true : false

   github_keys_present = !$tweetbook_settings['github']['key'].blank? && !$tweetbook_settings['github']['secret'].blank? ? true : false

   office_keys_present = !$tweetbook_settings['office365']['key'].blank? && !$tweetbook_settings['office365']['secret'].blank? ? true : false
%>
var twitter_Btn = '', facebook_Btn = '', github_Btn = '';
<% if twitter_keys_present %>
   var twitter_Btn = '<%= link_to image_tag("twitterBtn.png", :plugin => "redmine_tweetbook"), "/auth/twitter" %>';
<% end %>
<% if facebook_keys_present %>
   var facebook_Btn = '<%= link_to image_tag("fbButton.png", :plugin => "redmine_tweetbook"), "/auth/facebook" %>';
<% end %>
<% if github_keys_present %>
   var github_Btn = '<%= link_to image_tag("Github-icon.png", :plugin => "redmine_tweetbook"), "/auth/github" %>';
<% end %>

	<% if office_keys_present %>
	var office365_Btn = '<%= link_to image_tag("Office-icon.png", :plugin => "redmine_tweetbook"), get_login_url %>';
	<% end %>

<% if twitter_keys_present || facebook_keys_present || github_keys_present || office_keys_present %>
	$('#login-form table tbody tr:first').before('<tr><td colspan=2>'+ twitter_Btn +'&nbsp;&nbsp;&nbsp;&nbsp;'+ facebook_Btn +'&nbsp;&nbsp;&nbsp;&nbsp;'+ github_Btn +'&nbsp;&nbsp;&nbsp;&nbsp;' + office365_Btn+ '</td></tr>');
<% end %>

/*
 * display current user twitter or facebook photo and authenticate via show at top right.
 */

 <% if tweetbook_user = TweetBook.current_user(User.current.id) %>
	 <% if User.current.id == tweetbook_user.user_id %>
	 	$("#loggedas").append($('<%= image_tag(tweetbook_user.image, :size => "20x20", :class => "tweetbook_image") %>'));
		$("#loggedas").append('via <%= tweetbook_user.provider %>');
	<% end %>
<% end %>


});

</script>